## Web Scraping

### Problem

Extract the Job description from each job posting?

### Approach

a. Each of the Job Posting is a link. Find the url (href attribute) for each job
b. Open the job link. Find the attribute that contains the Job Description

In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in g:\anaconda\lib\site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in g:\anaconda\lib\site-packages (from beautifulsoup4) (1.9.3)

In [2]:
pip install urllib3

Requirement already satisfied: urllib3 in g:\anaconda\lib\site-packages (1.24.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Importing required libraries
from urllib.request import urlopen , Request
from bs4 import BeautifulSoup
import pandas as pd
import re

In [4]:
url = "https://www.iimjobs.com/k/analytics-jobs-190.html"

In [5]:
html = urlopen(url)

In [6]:
html

In [7]:
#convert it into beutifulsoup object
soup = BeautifulSoup(html)
type(soup)

bs4.BeautifulSoup

In [8]:
#get all a tags from extracted html file
for link in soup.find_all("a"):
    print(link)

<a aria-controls="collapse13" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse13">
                                                Banking &amp; Finance <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://www.iimjobs.com/c/banking--finance-jobs-13.html">All Banking &amp; Finance Jobs</a>
<a href="https://www.iimjobs.com/k/finance-and-accounts-jobs-362.html">Finance and Accounts Jobs</a>
<a href="https://www.iimjobs.com/k/banking-jobs-138.html">Banking Jobs</a>
<a href="https://www.iimjobs.com/k/corporate-banking-jobs-200.html">Corporate Banking Jobs</a>
<a href="https://www.iimjobs.com/k/investment-banking-jobs-142.html">Investment Banking Jobs</a>
<a href="https://www.iimjobs.com/k/private-equity-jobs-158.html">Private Equity Jobs</a>
<a href="https://www.iimjobs.com/k/equity-research-jobs-149.html">Equity Research Jobs</a>
<a href="https://www.iimjobs.com/k/wealth-management-jobs-252.html">Wealth Management Jobs</a>
<a href="https://www.iimjobs.com/k/audit-jobs-60.html">Audit Jobs</a>
<a href="https://www.iimjobs.com/k/taxation-jobs-239.html">Taxation Jobs</a>
<a href="https://www.iimjobs.com/k/risk-management-jobs-59.html">Risk Management Jobs</a>
<a href="https://www.iimjobs.com/k/financial-reporting-jobs-154.html">Financial Reporting Jobs</a>
<a href="https://www.iimjobs.com/k/financial-operations-jobs-496.html">Financial Operations Jobs</a>
<a href="https://www.iimjobs.com/k/chief-financial-officer-jobs-268.html">Chief Financial Officer Jobs</a>
<a href="https://www.iimjobs.com/k/ca-jobs-124.html">Chartered Accountant Jobs</a>
<a href="https://www.iimjobs.com/meta/finance">more »</a>
<a aria-controls="collapse14" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse14">
                                                Sales &amp; Marketing <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://www.iimjobs.com/c/sales--marketing-jobs-14.html">All Sales &amp; Marketing Jobs</a>
<a href="https://www.iimjobs.com/k/sales-jobs-155.html">Sales Jobs</a>
<a href="https://www.iimjobs.com/k/marketing-jobs-244.html">Marketing Jobs</a>
<a href="https://www.iimjobs.com/k/brand-management-jobs-175.html">Brand Management Jobs</a>
<a href="https://www.iimjobs.com/k/online-marketing-jobs-191.html">Online Marketing Jobs</a>
<a href="https://www.iimjobs.com/k/marketing-communications-jobs-26.html">Marketing Communications Jobs</a>
<a href="https://www.iimjobs.com/k/market-research-jobs-218.html">Market Research Jobs</a>
<a href="https://www.iimjobs.com/k/advertising-jobs-202.html">Advertising Jobs</a>
<a href="https://www.iimjobs.com/k/corporate-sales-jobs-104.html">Corporate Sales Jobs</a>
<a href="https://www.iimjobs.com/k/fmcg-sales-jobs-156.html">FMCG Sales Jobs</a>
<a href="https://www.iimjobs.com/k/fmcg-marketing-jobs-385.html">FMCG Marketing Jobs</a>
<a href="https://www.iimjobs.com/k/bfsi-sales-jobs-271.html">BFSI Sales Jobs</a>
<a href="https://www.iimjobs.com/k/media-sales-jobs-477.html">Media Sales Jobs</a>
<a href="https://www.iimjobs.com/k/mobile-vas-jobs-287.html">Mobile VAS Jobs</a>
<a href="https://www.iimjobs.com/k/sales-head-jobs-358.html">Sales Head Jobs</a>
<a href="https://www.iimjobs.com/k/marketing-head-jobs-292.html">Marketing Head Jobs</a>
<a href="https://www.iimjobs.com/meta/sales--marketing">more »</a>
<a aria-controls="collapse16" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse16">
                                                Consulting <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://www.iimjobs.com/c/consulting--general-mgmt-jobs-16.html">All Consulting &amp; General Mgmt Jobs</a>
<a href="https://www.iimjobs.com/k/strategy-consulting-jobs-369.html">Strategy Consulting Jobs</a>
<a href="https://www.iimjobs.com/k/research-jobs-140.html">Research Jobs</a>
<a href="https://www.iimjobs.com/k/analytics-jobs-190.html">Analytics Jobs</a>
<a href="https://www.iimjobs.com/k/process-excellence-jobs-183.html">Process Excellence Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--bfsi-jobs-469.html">Consulting - BFSI Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--consumer-goods-jobs-370.html">Consulting - Consumer Goods Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--healthcare-jobs-471.html">Consulting - Healthcare Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--supply-chain-jobs-371.html">Consulting - Supply Chain Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--energy-sector-jobs-348.html">Consulting - Energy Sector Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--tmt-jobs-619.html">Consulting - TMT Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--manufacturing-jobs-376.html">Consulting - Manufacturing Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--infrastructure-jobs-482.html">Consulting - Infrastructure Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--egov-psu-jobs-625.html">Consulting - eGov/PSU Jobs</a>
<a href="https://www.iimjobs.com/k/it-consulting-jobs-99.html">IT Consulting Jobs</a>
<a href="https://www.iimjobs.com/k/hr-consulting-jobs-35.html">HR Consulting Jobs</a>
<a href="https://www.iimjobs.com/meta/consulting">more »</a>
<a aria-controls="collapse17" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse17">
                                                HR &amp; IR <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://www.iimjobs.com/c/hr--ir-jobs-17.html">All HR &amp; IR Jobs</a>
<a href="https://www.iimjobs.com/k/hr-generalist-jobs-1.html">HR Generalist Jobs</a>
<a href="https://www.iimjobs.com/k/hr-business-partner-jobs-2.html">HR Business Partner Jobs</a>
<a href="https://www.iimjobs.com/k/talent-acquisition-jobs-5.html">Talent Acquisition Jobs</a>
<a href="https://www.iimjobs.com/k/organization-development-jobs-11.html">Organization Development Jobs</a>
<a href="https://www.iimjobs.com/k/learning-and-development-jobs-14.html">Learning and Development Jobs</a>
<a href="https://www.iimjobs.com/k/compensation--benefits-jobs-32.html">Compensation &amp; Benefits Jobs</a>
<a href="https://www.iimjobs.com/k/industrial-relations-jobs-48.html">Industrial Relations Jobs</a>
<a href="https://www.iimjobs.com/k/hr-operations-jobs-22.html">HR Operations Jobs</a>
<a href="https://www.iimjobs.com/k/hr-in-it-ites-jobs-18.html">HR Jobs in IT/ITeS</a>
<a href="https://www.iimjobs.com/k/hr-in-bfsi-jobs-41.html">HR Jobs in BFSI</a>
<a href="https://www.iimjobs.com/k/hr-in-mfg-jobs-53.html">HR Jobs in Mfg</a>
<a href="https://www.iimjobs.com/k/hr-in-fmcg-jobs-16.html">HR Jobs in FMCG</a>
<a href="https://www.iimjobs.com/k/hr-in-telecom-jobs-15.html">HR Jobs in Telecom</a>
<a href="https://www.iimjobs.com/k/hr-consulting-jobs-35.html">HR Consulting Jobs</a>
<a href="https://www.iimjobs.com/k/hr-head-jobs-38.html">HR Head Jobs</a>
<a href="https://www.iimjobs.com/meta/hr">more »</a>
<a aria-controls="collapse15" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse15">
                                                IT &amp; Systems <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://www.iimjobs.com/c/it--systems-jobs-15.html">All IT &amp; Systems Jobs</a>
<a href="https://www.iimjobs.com/k/it-project-management-jobs-91.html">IT Project Management Jobs</a>
<a href="https://www.iimjobs.com/k/it-consulting-jobs-99.html">IT Consulting Jobs</a>
<a href="https://www.iimjobs.com/k/presales-jobs-43.html">Presales Jobs</a>
<a href="https://www.iimjobs.com/k/it-sales-jobs-42.html">IT Sales Jobs</a>
<a href="https://www.iimjobs.com/k/it-product-management-jobs-80.html">IT Product Management Jobs</a>
<a href="https://www.iimjobs.com/k/it-business-analyst-jobs-29.html">IT Business Analyst Jobs</a>
<a href="https://www.iimjobs.com/k/functional-consultant-jobs-317.html">Functional Consultant Jobs</a>
<a href="https://www.iimjobs.com/k/it-infrastructure-jobs-309.html">IT Infrastructure Jobs</a>
<a href="https://www.iimjobs.com/k/it-audit-jobs-64.html">IT Audit Jobs</a>
<a href="https://www.iimjobs.com/k/it-in-bfsi-jobs-433.html">IT Jobs in BFSI</a>
<a href="https://www.iimjobs.com/k/chief-technology-officer-jobs-128.html">Chief Technology Officer Jobs</a>
<a href="https://www.iimjobs.com/meta/it--systems">more »</a>
<a aria-controls="collapse19" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse19">
                                                SCM &amp; Operations <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://www.iimjobs.com/c/scm--operations-jobs-19.html">All SCM &amp; Operations Jobs</a>
<a href="https://www.iimjobs.com/k/supply-chain-jobs-20.html">Supply Chain Jobs</a>
<a href="https://www.iimjobs.com/k/operations-jobs-712.html">Operations Jobs</a>
<a href="https://www.iimjobs.com/k/procurement-jobs-235.html">Procurement Jobs</a>
<a href="https://www.iimjobs.com/k/inventory-management-jobs-717.html">Inventory Management Jobs</a>
<a href="https://www.iimjobs.com/k/plant-operations-jobs-691.html">Plant Operations Jobs</a>
<a href="https://www.iimjobs.com/k/demand-planning-jobs-464.html">Demand Planning Jobs</a>
<a href="https://www.iimjobs.com/k/quality-operations-jobs-751.html">Quality Operations Jobs</a>
<a href="https://www.iimjobs.com/k/operations-head-jobs-697.html">Operations Head Jobs</a>
<a href="https://www.iimjobs.com/k/procurement-head-jobs-670.html">Procurement Head Jobs</a>
<a href="https://www.iimjobs.com/meta/operations">more »</a>
<a aria-controls="collapse21" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse21">
                                                Legal <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://www.iimjobs.com/c/legal-jobs-21.html">All Legal Jobs</a>
<a href="https://www.iimjobs.com/k/legal-jobs-270.html">Legal Jobs</a>
<a href="https://www.iimjobs.com/k/regulatory-compliance-jobs-756.html">Regulatory Compliance Jobs</a>
<a href="https://www.iimjobs.com/k/litigation-jobs-867.html">Litigation Jobs</a>
<a href="https://www.iimjobs.com/k/company-secretary-jobs-273.html">Company Secretary Jobs</a>
<a href="https://www.iimjobs.com/k/ipr-jobs-974.html">Intellectual Property Rights (IPR) Jobs</a>
<a href="https://www.iimjobs.com/k/legal-in-bfsi-jobs-444.html">Legal Jobs in BFSI</a>
<a href="https://www.iimjobs.com/k/legal-in-it-ites-jobs-865.html">Legal Jobs in IT/ITeS</a>
<a href="https://www.iimjobs.com/k/legal-in-fmcg-jobs-693.html">Legal Jobs in FMCG</a>
<a href="https://www.iimjobs.com/k/legal-in-mfg-jobs-1005.html">Legal Jobs in Mfg</a>
<a href="https://www.iimjobs.com/k/legal-in-real-estate-jobs-976.html">Legal Jobs in Real Estate</a>
<a href="https://www.iimjobs.com/k/legal-in-telecom-jobs-1007.html">Legal Jobs in Telecom</a>
<a href="https://www.iimjobs.com/k/legal-head-jobs-637.html">Legal Head Jobs</a>
<a href="https://www.iimjobs.com/meta/legal">more »</a>
<a aria-controls="collapse22" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse22">
                                                BPO <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://www.iimjobs.com/c/bpo-jobs-22.html">All BPO Jobs</a>
<a href="https://www.iimjobs.com/k/bpo-operations-jobs-650.html">BPO Operations Jobs</a>
<a href="https://www.iimjobs.com/k/bpo-quality-jobs-741.html">BPO Quality Jobs</a>
<a href="https://www.iimjobs.com/k/bpo-presales-jobs-801.html">BPO Presales Jobs</a>
<a href="https://www.iimjobs.com/k/bpo-sales-jobs-374.html">BPO Sales Jobs</a>
<a href="https://www.iimjobs.com/k/bpo-training-jobs-762.html">BPO Training Jobs</a>
<a href="https://www.iimjobs.com/k/customer-service-jobs-251.html">Customer Service Jobs</a>
<a href="https://www.iimjobs.com/k/bpo-head-jobs-649.html">BPO Head Jobs</a>
<a href="https://www.iimjobs.com/meta/bpo">more »</a>
<a aria-controls="collapse23" aria-expanded="false" class="category-caps" data-parent="#accordion" data-toggle="collapse" href="#collapse23">
                                                Courses <span class="caret arwcolo arswolo2"></span>
</a>
<a href="https://learning.iimjobs.com/course/banking--finance-course-13.html?ref=nav">Banking &amp; Finance Courses</a>
<a href="https://learning.iimjobs.com/course/sales--marketing-course-14.html?ref=nav">Sales &amp; Marketing Courses</a>
<a href="https://learning.iimjobs.com/course/consulting--general-mgmt-course-16.html?ref=nav">Consulting &amp; General Courses</a>
<a href="https://learning.iimjobs.com/course/hr--ir-course-17.html?ref=nav">HR &amp; IR Courses</a>
<a href="https://learning.iimjobs.com/course/it--systems-course-15.html?ref=nav">IT &amp; Systems Courses</a>
<a href="https://learning.iimjobs.com/course/scm--operations-course-19.html?ref=nav">SCM &amp; Operations Courses</a>
<a href="https://learning.iimjobs.com/course/legal-course-21.html?ref=nav">Legal Courses</a>
<a href="https://learning.iimjobs.com/course/bpo-course-22.html?ref=nav">BPO Courses</a>
<a class="btn btnmygr mt6" href="https://www.iimjobs.com" rel="nofollow">Jobseekers </a>
<a class="btn btnmygr mt6" href="https://www.iimjobs.com/recruiter/login.php" rel="nofollow">Recruiters </a>
<a class="btn btnmygr mt6 mb8" href="https://www.iimjobs.com/contact" rel="nofollow">Advertise with us </a>
<a href="https://www.iimjobs.com/industry-report/banking/" target="_blank">Banking</a>
<a href="https://www.iimjobs.com/industry-report/fmcg/" target="_blank">FMCG</a>
<a href="https://www.iimjobs.com/industry-report/it/" target="_blank">IT &amp; ITES</a>
<a href="https://www.iimjobs.com/industry-report/retail/" target="_blank">Retail</a>
<a href="https://www.iimjobs.com/industry-report/healthcare/" target="_blank">Healthcare</a>
<a href="https://www.iimjobs.com/industry-report/automobiles/" target="_blank">Automobiles</a>
<a href="https://www.iimjobs.com/industry-report/manufacturing/" target="_blank">Manufacturing</a>
<a href="https://www.iimjobs.com/industry-report/pharmaceutical/" target="_blank">Pharmaceutical</a>
<a href="http://blog.iimjobs.com/site-features/what-iimjobs-com-is-not/" rel="nofollow" target="_blank">What iimjobs.com is not?</a>
<a href="http://blog.iimjobs.com/site-features/a-sneak-peak-into-the-recruiter-dashboard-on-iimjobs-com/" rel="nofollow" target="_blank">How Recruiters look at applications</a>
<a href="http://blog.iimjobs.com/site-features/the-iimjobs-com-pro-membership-plan-detailed-faqs/" rel="nofollow" target="_blank">The Pro-Membership Plan FAQ</a>
<a href="http://blog.iimjobs.com/site-features/breaking-a-few-myths-about-the-pro-membership-plan/" rel="nofollow" target="_blank">Breaking a Few Myths about the Pro Membership Plan</a>
<a href="http://blog.iimjobs.com/career-advice/why-jobseekers-dont-get-the-call-they-think-they-deserve/" rel="nofollow" target="_blank">Why Jobseekers Don't Get the Call They Think They Deserve</a>
<a href="https://www.iimjobs.com/faq" rel="nofollow" target="_blank">Frequently Asked Questions</a>
<a href="https://www.iimjobs.com/sitemap/" rel="nofollow" target="_blank">Site Map</a>
<a href="https://www.iimjobs.com/contact/" rel="nofollow" target="_blank">Contact Us</a>
<a href="http://hirist.com" target="_blank">hirist.com - IT Jobs</a>
<a class="sitename" href="https://www.iimjobs.com/jobfeed">
<h3>iimjobs</h3>
<span>.com</span>
</a>
<a class="caps dropdown-toggle menu" data-close-others="false" data-delay="1" data-parent="#accordion" data-toggle="hover" href="https://www.iimjobs.com/c/banking--finance-jobs-13.html" id="topmenu">
                    Banking &amp; Finance                </a>
<a href="https://www.iimjobs.com/c/banking--finance-jobs-13.html">All Banking &amp; Finance Jobs</a>
<a href="https://www.iimjobs.com/k/finance-and-accounts-jobs-362.html">Finance and Accounts Jobs</a>
<a href="https://www.iimjobs.com/k/banking-jobs-138.html">Banking Jobs</a>
<a href="https://www.iimjobs.com/k/corporate-banking-jobs-200.html">Corporate Banking Jobs</a>
<a href="https://www.iimjobs.com/k/investment-banking-jobs-142.html">Investment Banking Jobs</a>
<a href="https://www.iimjobs.com/k/private-equity-jobs-158.html">Private Equity Jobs</a>
<a href="https://www.iimjobs.com/k/equity-research-jobs-149.html">Equity Research Jobs</a>
<a href="https://www.iimjobs.com/k/wealth-management-jobs-252.html">Wealth Management Jobs</a>
<a href="https://www.iimjobs.com/k/audit-jobs-60.html">Audit Jobs</a>
<a href="https://www.iimjobs.com/k/taxation-jobs-239.html">Taxation Jobs</a>
<a href="https://www.iimjobs.com/k/risk-management-jobs-59.html">Risk Management Jobs</a>
<a href="https://www.iimjobs.com/k/financial-reporting-jobs-154.html">Financial Reporting Jobs</a>
<a href="https://www.iimjobs.com/k/financial-operations-jobs-496.html">Financial Operations Jobs</a>
<a href="https://www.iimjobs.com/k/chief-financial-officer-jobs-268.html">Chief Financial Officer Jobs</a>
<a href="https://www.iimjobs.com/k/ca-jobs-124.html">Chartered Accountant Jobs</a>
<a href="https://www.iimjobs.com/meta/finance" rel="nofollow">more »</a>
<a class="caps dropdown-toggle menu" data-close-others="false" data-delay="1" data-parent="#accordion" data-toggle="hover" href="https://www.iimjobs.com/c/sales--marketing-jobs-14.html" id="topmenu">
                    Sales &amp; Marketing                </a>
<a href="https://www.iimjobs.com/c/sales--marketing-jobs-14.html">All Sales &amp; Marketing Jobs</a>
<a href="https://www.iimjobs.com/k/sales-jobs-155.html">Sales Jobs</a>
<a href="https://www.iimjobs.com/k/marketing-jobs-244.html">Marketing Jobs</a>
<a href="https://www.iimjobs.com/k/brand-management-jobs-175.html">Brand Management Jobs</a>
<a href="https://www.iimjobs.com/k/online-marketing-jobs-191.html">Online Marketing Jobs</a>
<a href="https://www.iimjobs.com/k/marketing-communications-jobs-26.html">Marketing Communications Jobs</a>
<a href="https://www.iimjobs.com/k/market-research-jobs-218.html">Market Research Jobs</a>
<a href="https://www.iimjobs.com/k/advertising-jobs-202.html">Advertising Jobs</a>
<a href="https://www.iimjobs.com/k/corporate-sales-jobs-104.html">Corporate Sales Jobs</a>
<a href="https://www.iimjobs.com/k/fmcg-sales-jobs-156.html">FMCG Sales Jobs</a>
<a href="https://www.iimjobs.com/k/fmcg-marketing-jobs-385.html">FMCG Marketing Jobs</a>
<a href="https://www.iimjobs.com/k/bfsi-sales-jobs-271.html">BFSI Sales Jobs</a>
<a href="https://www.iimjobs.com/k/media-sales-jobs-477.html">Media Sales Jobs</a>
<a href="https://www.iimjobs.com/k/mobile-vas-jobs-287.html">Mobile VAS Jobs</a>
<a href="https://www.iimjobs.com/k/sales-head-jobs-358.html">Sales Head Jobs</a>
<a href="https://www.iimjobs.com/k/marketing-head-jobs-292.html">Marketing Head Jobs</a>
<a href="https://www.iimjobs.com/meta/sales--marketing" rel="nofollow">more »</a>
<a class="caps dropdown-toggle menu" data-close-others="false" data-delay="1" data-parent="#accordion" data-toggle="hover" href="https://www.iimjobs.com/c/consulting--general-mgmt-jobs-16.html" id="topmenu">
                    Consulting                </a>
<a href="https://www.iimjobs.com/c/consulting--general-mgmt-jobs-16.html">All Consulting &amp; General Mgmt Jobs</a>
<a href="https://www.iimjobs.com/k/strategy-consulting-jobs-369.html">Strategy Consulting Jobs</a>
<a href="https://www.iimjobs.com/k/research-jobs-140.html">Research Jobs</a>
<a href="https://www.iimjobs.com/k/analytics-jobs-190.html">Analytics Jobs</a>
<a href="https://www.iimjobs.com/k/process-excellence-jobs-183.html">Process Excellence Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--bfsi-jobs-469.html">Consulting - BFSI Jobs</a>
<a href="https://www.iimjobs.com/k/consulting--consumer-goods-jobs-370.html">Consulting - Consumer Goods Jobs</a>

In [9]:
# using find_all to find specific tags
all_links=[]
for link in soup.find_all("a"):
    all_links.append(link.get("href"))

In [10]:
all_links[2]

'https://www.iimjobs.com/k/finance-and-accounts-jobs-362.html'

In [11]:
len(all_links)

752

**Q. How extract links only for job ID's?**

**Approach 1 :** Based on specific attributes.

In [12]:
job_links=[]
for link in soup.find_all("a"):
    if link.get("data-jobid") is not None:
        job_links.append(link.get("href"))

In [13]:
job_links[0:5]

['https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp',
 'https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp',
 'https://www.iimjobs.com/j/cartesian-consulting-senior-associate-data-analytics-2-3-yrs-872854.html?ref=kp',
 'https://www.iimjobs.com/j/cartesian-consulting-senior-associate-data-analytics-2-3-yrs-872854.html?ref=kp',
 'https://www.iimjobs.com/j/directech-labs-principal-data-scientist-8-13-yrs-872415.html?ref=kp']

In [14]:
len(pd.Series(job_links).unique())

120

In [15]:
len(job_links)

240

**Approach 2 :** Using Parent tag element details

In [16]:
#from div tag i need listingPanel element
joblisting = soup.find("div",id="listingPanel")

In [17]:
all_links=[]
children=joblisting.find_all("a")
for child in children:
    all_links.append(child.get('href'))

In [18]:
all_links[0:5]

['https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp',
 'https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp',
 'https://www.iimjobs.com/j/cartesian-consulting-senior-associate-data-analytics-2-3-yrs-872854.html?ref=kp',
 'https://www.iimjobs.com/j/cartesian-consulting-senior-associate-data-analytics-2-3-yrs-872854.html?ref=kp',
 'https://www.iimjobs.com/j/directech-labs-principal-data-scientist-8-13-yrs-872415.html?ref=kp']

In [19]:
len(all_links)

254

In [20]:
len(pd.Series(all_links).unique())

130

**Approach 3:** Using CSS selector

In [21]:
soup.select("#listingPanel > div.listing > div:nth-child(1) > div.col-lg-9.col-md-9.col-sm-8.container.pdmobr5 > div.pull-left.col-lg-9new.col-md-9new.col-sm-9new.pdlr0.pdmobl5.mtb2 > span > a.mrmob5.hidden-xs")

[<a class="mrmob5 hidden-xs" data-jobid="872949" href="https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp" name="view_link" target="_blank"> HSBC - AVP - Technical Architect (10-16 yrs) </a>]

In [22]:
soup.select("#listingPanel > div.listing > div:nth-child(2)")

[<div class="unfollowopt jobRow container table table-hover pdlr0 greybg" data-jobid="872854">
 <div class="col-lg-9 col-md-9 col-sm-8 container pdmobr5" style="padding-left:0px;">
 <div class="pull-left col-xs-12 col-lg-3new col-md-3new col-sm-3new pd0 hidden-xs">
 <span class="pull-left companyjobs"><i class="fa fa-suitcase greytxt"></i></span>
 <span class="pull-left" data-trigger="hover click" rel="tooltip" title="premium job">
 <i class="fa fa-bookmark darkgreyish"></i>
 </span>
 <span class="glyphicon glyphicon-plus-sign plsign plsigngrey pull-left" data-trigger="hover click" rel="tooltip"></span>
 <span class="applied-job showicon pull-left" data-trigger="hover click" rel="tooltip" title="">
 <i class="fa fa-check-square-o greytxt"></i>
 </span>
 <span act="save_job" class="glyphicon glyphicon-star-empty saved-job pull-left" data-trigger="hover click" rel="tooltip" title="save this job for future reference"></span>
 <span class="gry_txt txt12 visible-xs pull-right mt3">14/12/2020</span>
 </div>
 <div class="clearfix visible-xs"></div>
 <div class="pull-left col-lg-9new col-md-9new col-sm-9new pdlr0 pdmobl5 mtb2">
 <span class="pull-left">
 <a class="mrmob5 hidden-xs" data-jobid="872854" href="https://www.iimjobs.com/j/cartesian-consulting-senior-associate-data-analytics-2-3-yrs-872854.html?ref=kp" name="view_link" target="_blank"> Cartesian Consulting - Senior Associate - Data Analytics (2-3 yrs) </a>
 <!-- <input type="hidden" value="$listJobs['id'];" > -->
 <div class="clearfix"></div>
 <a class="mrmob5 hidden-lg hidden-md hidden-sm visible-xs" data-jobid="872854" href="https://www.iimjobs.com/j/cartesian-consulting-senior-associate-data-analytics-2-3-yrs-872854.html?ref=kp" name="view_link" target="_blank"> Cartesian Consulting - Senior Associate - Data Analytics  </a>
 <span class="mobexp">
 <i aria-hidden="true" class="fa fa-calendar-o"></i> 2-3 yrs
                                                 </span>
 <span alt="Mumbai" class="disp768" title="Mumbai">
 <i class="glyphicon glyphicon-map-marker"></i>
                                             Mumbai                                            </span>
 </span>
 </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-4 pdlr0 mtb2 hidden-xs">
 <div class="col-lg-7 col-md-7 col-sm-7 ellipsis pdlr0 pdmobl5">
 <span alt="Mumbai" title="Mumbai">
         Mumbai                                        </span>
 </div>
 <div class="col-lg-5 col-md-5 col-sm-5 pdl6">
 <!--<span class="gry_txt txt12"></span>-->
 <span class="gry_txt txt12 original">14/12/2020
                                         </span>
 <div class="logo-linkage hidden">
 </div>
 </div>
 </div>
 </div>]

In [23]:
listPanel = soup.select("#listingPanel > div.listing >*")

In [24]:
listPanel[1]

<div class="unfollowopt jobRow container table table-hover pdlr0 greybg" data-jobid="872854">
<div class="col-lg-9 col-md-9 col-sm-8 container pdmobr5" style="padding-left:0px;">
<div class="pull-left col-xs-12 col-lg-3new col-md-3new col-sm-3new pd0 hidden-xs">
<span class="pull-left companyjobs"><i class="fa fa-suitcase greytxt"></i></span>
<span class="pull-left" data-trigger="hover click" rel="tooltip" title="premium job">
<i class="fa fa-bookmark darkgreyish"></i>
</span>
<span class="glyphicon glyphicon-plus-sign plsign plsigngrey pull-left" data-trigger="hover click" rel="tooltip"></span>
<span class="applied-job showicon pull-left" data-trigger="hover click" rel="tooltip" title="">
<i class="fa fa-check-square-o greytxt"></i>
</span>
<span act="save_job" class="glyphicon glyphicon-star-empty saved-job pull-left" data-trigger="hover click" rel="tooltip" title="save this job for future reference"></span>
<span class="gry_txt txt12 visible-xs pull-right mt3">14/12/2020</span>
</div>
<div class="clearfix visible-xs"></div>
<div class="pull-left col-lg-9new col-md-9new col-sm-9new pdlr0 pdmobl5 mtb2">
<span class="pull-left">
<a class="mrmob5 hidden-xs" data-jobid="872854" href="https://www.iimjobs.com/j/cartesian-consulting-senior-associate-data-analytics-2-3-yrs-872854.html?ref=kp" name="view_link" target="_blank"> Cartesian Consulting - Senior Associate - Data Analytics (2-3 yrs) </a>
<!-- <input type="hidden" value="$listJobs['id'];" > -->
<div class="clearfix"></div>
<a class="mrmob5 hidden-lg hidden-md hidden-sm visible-xs" data-jobid="872854" href="https://www.iimjobs.com/j/cartesian-consulting-senior-associate-data-analytics-2-3-yrs-872854.html?ref=kp" name="view_link" target="_blank"> Cartesian Consulting - Senior Associate - Data Analytics  </a>
<span class="mobexp">
<i aria-hidden="true" class="fa fa-calendar-o"></i> 2-3 yrs
                                                </span>
<span alt="Mumbai" class="disp768" title="Mumbai">
<i class="glyphicon glyphicon-map-marker"></i>
                                            Mumbai                                            </span>
</span>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 pdlr0 mtb2 hidden-xs">
<div class="col-lg-7 col-md-7 col-sm-7 ellipsis pdlr0 pdmobl5">
<span alt="Mumbai" title="Mumbai">
        Mumbai                                        </span>
</div>
<div class="col-lg-5 col-md-5 col-sm-5 pdl6">
<!--<span class="gry_txt txt12"></span>-->
<span class="gry_txt txt12 original">14/12/2020
                                        </span>
<div class="logo-linkage hidden">
</div>
</div>
</div>
</div>

In [25]:
[x.get("href") for x in listPanel[0].find_all("a")]

['https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp',
 'https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp']

In [26]:
all_links=[]
for i in range(len(listPanel)):
    all_links.append([x.get("href") for x in listPanel[i].find_all("a")])

In [27]:
len(all_links)

127

In [28]:
#all_links[0]
all_links[0][0]

'https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp'

**Q. Find job Description for selected links?**

In [29]:
url = all_links[0][0]
url

'https://www.iimjobs.com/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp'

In [30]:
html = urlopen(url)
html

In [31]:
soup = BeautifulSoup(html)

In [32]:
soup.find("div",class_="details job-description")

<div class="details job-description">
<p><u><b>Purpose of Department</b></u><br/><br/>Our Global Service Centers are an integral part of Global Operations. Global Analytics Centre (GAC) as part of Global Operations act as the analytical powerhouse by leveraging analytical thought process with business knowledge to gain critical insights to make better and informed business decisions.<br/><br/>The CMB Analytics Centre of Excellence in Kolkata/Bangalore provides analytical solutions &amp; Information management to various HSBC CMB portfolios ranging from Micro/Small to Mid-market companies across the globe. CMB Analytics Team's focus is on using logical thought process and relevant statistical techniques to understand and analyze product portfolio metrics and risk behavior to arrive at value-based optimum decisions. The vision of 2021 is to move towards end to end delivery of solutions including analytics and engineering components.<br/><br/><u><b>Analytical work ranges from</b></u><br/><br/>- Providing analytical support to Data Quality Analysis, Segmentation, Threshold Setting<br/><br/>- Trend Analysis and Dashboard Creation based on Visualization technique<br/><br/>- Data Implementation Checks and Quality Assurance<br/><br/>- Developing solutions for revenue generation, effective operations<br/><br/><u><b>Job Description</b></u><br/><br/>- The job will require the candidate to develop solution blueprint for analytical use-cases. For complex solutions, the detailing may be needed for individual components that come out of Design Studio<br/><br/>- Candidate may assist existing project teams to enhance solutions or extend them. Depending on the current tool set / software usage a modern toolset combination set should be proposed<br/><br/>- Candidate needs to understand the existing systems and software landscape and determine the optimal way of delivering the analytics use-cases be it on premise or on cloud (Google Cloud Platform GCP)<br/><br/>- Candidate should have understanding of Big data concepts and any of the storage solutions like Hadoop, BigQuery etc<br/><br/>- Candidate should also have an understanding of the analytical components of Google Cloud - like DataFlow, DataProc, DataStudio, Tensor flow, PubSub etc.<br/><br/>- Experience on coding languages like Spark, R and Python will be preferred<br/><br/>- Ability to model data for optimal consumption through the visualization layer through QlikSense, Tableau, DataStudio or Looker<br/><br/>- Ability to design data flow, process flow and other architecture related documents<br/><br/>- Knowledge of mobile based information delivery will be good to have<br/><br/>- Oversee the design and delivery of reports and insights that analyze business functions and key operations and performance metrics.<br/><br/>- Ability to carry out discussions with business to understand functional requirements and translate into technical design<br/><br/><u><b>Skills/Experience Required</b></u><br/><br/>- Experience in defining technical solutions for advanced analytics and reporting solutions for Banking/ Financial Services<br/><br/>- Ability to deconstruct a complex business problem into simpler components for technical design and architecture<br/><br/>- Overall experience of 10+ years with Cloud exposure over 4+ years<br/><br/>- Strong delivery process understanding and orientation with agile / devops experience<br/><br/>- Good communication skills<br/><br/>- Proven track record of delivering a business problem with multiple tool stack - preferably Google Cloud in Analytics functional space<br/><br/>- Highly effective in narrating the technical details in simple terms to execution teams for easy adoption and adherence</p> <script>
            function trackViewJobDescription(){
                _gaq.push(['_trackEvent', 'Job','ViewJobDescription', 'view_Origin__/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp__Source__JobDescription__CategoryId__15__jobId__872949__UserId____RecruiterId__68125__Status__LoggedOut___76d5d8d0976a7227ac271a8850eb1b75_-_47.29.122.107']);
            }
            window.onload = trackViewJobDescription;
        </script>
</div>

**In above job description we are getting other html tags. we need only text. So we will use get_text().**

In [33]:
soup.find("div",class_="details job-description").get_text()

"\nPurpose of DepartmentOur Global Service Centers are an integral part of Global Operations. Global Analytics Centre (GAC) as part of Global Operations act as the analytical powerhouse by leveraging analytical thought process with business knowledge to gain critical insights to make better and informed business decisions.The CMB Analytics Centre of Excellence in Kolkata/Bangalore provides analytical solutions & Information management to various HSBC CMB portfolios ranging from Micro/Small to Mid-market companies across the globe. CMB Analytics Team's focus is on using logical thought process and relevant statistical techniques to understand and analyze product portfolio metrics and risk behavior to arrive at value-based optimum decisions. The vision of 2021 is to move towards end to end delivery of solutions including analytics and engineering components.Analytical work ranges from- Providing analytical support to Data Quality Analysis, Segmentation, Threshold Setting- Trend Analysis and Dashboard Creation based on Visualization technique- Data Implementation Checks and Quality Assurance- Developing solutions for revenue generation, effective operationsJob Description- The job will require the candidate to develop solution blueprint for analytical use-cases. For complex solutions, the detailing may be needed for individual components that come out of Design Studio- Candidate may assist existing project teams to enhance solutions or extend them. Depending on the current tool set / software usage a modern toolset combination set should be proposed- Candidate needs to understand the existing systems and software landscape and determine the optimal way of delivering the analytics use-cases be it on premise or on cloud (Google Cloud Platform GCP)- Candidate should have understanding of Big data concepts and any of the storage solutions like Hadoop, BigQuery etc- Candidate should also have an understanding of the analytical components of Google Cloud - like DataFlow, DataProc, DataStudio, Tensor flow, PubSub etc.- Experience on coding languages like Spark, R and Python will be preferred- Ability to model data for optimal consumption through the visualization layer through QlikSense, Tableau, DataStudio or Looker- Ability to design data flow, process flow and other architecture related documents- Knowledge of mobile based information delivery will be good to have- Oversee the design and delivery of reports and insights that analyze business functions and key operations and performance metrics.- Ability to carry out discussions with business to understand functional requirements and translate into technical designSkills/Experience Required- Experience in defining technical solutions for advanced analytics and reporting solutions for Banking/ Financial Services- Ability to deconstruct a complex business problem into simpler components for technical design and architecture- Overall experience of 10+ years with Cloud exposure over 4+ years- Strong delivery process understanding and orientation with agile / devops experience- Good communication skills- Proven track record of delivering a business problem with multiple tool stack - preferably Google Cloud in Analytics functional space- Highly effective in narrating the technical details in simple terms to execution teams for easy adoption and adherence \n            function trackViewJobDescription(){\n                _gaq.push(['_trackEvent', 'Job','ViewJobDescription', 'view_Origin__/j/hsbc-avp-technical-architect-10-16-yrs-872949.html?ref=kp__Source__JobDescription__CategoryId__15__jobId__872949__UserId____RecruiterId__68125__Status__LoggedOut___76d5d8d0976a7227ac271a8850eb1b75_-_47.29.122.107']);\n            }\n            window.onload = trackViewJobDescription;\n        \n"

## Problem

**Extracting Reviews from Amazon.**

In [34]:
url_template = "https://www.amazon.in/Test-Exclusive-550/product-reviews/B077Q7GW9V/ref=cm_cr_getr_d_paging_btm_prev_1?ie=UTF8&reviewerType=all_reviews&pageNumber=<NUM>"

In [35]:
url = re.sub("<NUM>",str(1),url_template)
url

'https://www.amazon.in/Test-Exclusive-550/product-reviews/B077Q7GW9V/ref=cm_cr_getr_d_paging_btm_prev_1?ie=UTF8&reviewerType=all_reviews&pageNumber=1'

In [36]:
clean_reviews = []
for i in range(10):
    try:
        url = re.sub("<NUM>",str(i),url_template)
        html = urlopen(url)
        soup = BeautifulSoup(html)

        all_reviews = soup.find_all("div", class_="a-row a-spacing-small review-data")

        for review in all_reviews:
            review_text = review.find("span",class_="a-size-base review-text review-text-content")
            clean_reviews.append(review_text.find("span").get_text())
    except Exception as e:
        print(e)
        break

In [37]:
len(clean_reviews)

100

In [38]:
clean_reviews[0]

"\n  PLZZ read this complete information before buying from AmazonThey do not refund if your product got defected.Amazon is worst in providing services so if you have any option to buy from Flipkart then go there. Don't waste your time on AmazonRegarding mobileWorst mobile i have ever seenBattery charging time is more than expected.Battery drainaing problem is thereCamera will stuck when you click pictures.Poor camera quality they said 48 mp but it's like 12mp.  If you are game lover then PLZZ try another mobile. Performance is very low.I told Amazon customer care to take this product back but they are not helping me instead they want me to go service center in covid19 situation which is in red zone. They can't provide home visit because their technician life is more important than customer. If customer get infected it's ok for them.Thanks Amazon for this service now i hate Amazon more than tiktok.Unistalling the app right now. And also recommending my friend's and relatives to not buy anything from Amazon, they are worst.\n"

## Problem

**Extracting table from website.**

In [39]:
link = "https://www.worldometers.info/coronavirus/"
hdr = {'User-Agent': 'Mozilla/5.0'}
req = Request(link,headers=hdr)
page = urlopen(req)

In [40]:
soup = BeautifulSoup(page)

In [41]:
covid_tbl = soup.find("table", id = "main_table_countries_today")

In [42]:
print(covid_tbl.prettify())

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
 <thead>
  <tr>
   <th width="1%">
    #
   </th>
   <th width="100">
    Country,
    <br/>
    Other
   </th>
   <th width="20">
    Total
    <br/>
    Cases
   </th>
   <th width="30">
    New
    <br/>
    Cases
   </th>
   <th width="30">
    Total
    <br/>
    Deaths
   </th>
   <th width="30">
    New
    <br/>
    Deaths
   </th>
   <th width="30">
    Total
    <br/>
    Recovered
   </th>
   <th width="30">
    New
    <br/>
    Recovered
   </th>
   <th width="30">
    Active
    <br/>
    Cases
   </th>
   <th width="30">
    Serious,
    <br/>
    Critical
   </th>
   <th width="30">
    Tot Cases/
    <br/>
    1M pop
   </th>
   <th width="30">
    Deaths/
    <br/>
    1M pop
   </th>
   <th width="30">
    Total
    <br/>
    Tests
   </th>
   <th width="30">
    Tests/
    <br/>
    <nobr>
     1M pop
    </nobr>
   </th>
   <th width="30">
    Population
   </th>
   <th style="display:none" width="30">
    Continent
   </th>
   <th width="30">
    1 Case
    <br/>
    every X ppl
   </th>
   <th width="30">
    1 Death
    <br/>
    every X ppl
   </th>
   <th width="30">
    1 Test
    <br/>
    every X ppl
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     North America
    </nobr>
   </td>
   <td>
    19,601,515
   </td>
   <td>
    +62,516
   </td>
   <td>
    454,937
   </td>
   <td>
    +1,417
   </td>
   <td>
    11,872,995
   </td>
   <td>
    +33,217
   </td>
   <td>
    7,273,583
   </td>
   <td>
    32,954
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="North America" style="display:none;">
    North America
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     Asia
    </nobr>
   </td>
   <td>
    19,282,767
   </td>
   <td>
    +103,418
   </td>
   <td>
    315,111
   </td>
   <td>
    +1,475
   </td>
   <td>
    17,485,156
   </td>
   <td>
    +108,690
   </td>
   <td>
    1,482,500
   </td>
   <td>
    27,462
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="Asia" style="display:none;">
    Asia
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     South America
    </nobr>
   </td>
   <td>
    12,019,039
   </td>
   <td>
    +7,051
   </td>
   <td>
    341,207
   </td>
   <td>
    +78
   </td>
   <td>
    10,647,748
   </td>
   <td>
    +1,870
   </td>
   <td>
    1,030,084
   </td>
   <td>
    16,539
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="South America" style="display:none;">
    South America
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     Europe
    </nobr>
   </td>
   <td>
    20,174,619
   </td>
   <td>
    +154,394
   </td>
   <td>
    466,189
   </td>
   <td>
    +4,641
   </td>
   <td>
    9,516,681
   </td>
   <td>
    +127,516
   </td>
   <td>
    10,191,749
   </td>
   <td>
    26,771
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="Europe" style="display:none;">
    Europe
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     Africa
    </nobr>
   </td>
   <td>
    2,410,613
   </td>
   <td>
    +6,053
   </td>
   <td>
    56,853
   </td>
   <td>
    +113
   </td>
   <td>
    2,042,528
   </td>
   <td>
    +8,690
   </td>
   <td>
    311,232
   </td>
   <td>
    2,674
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="Africa" style="display:none;">
    Africa
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
     Oceania
    </nobr>
   </td>
   <td>
    46,722
   </td>
   <td>
    +6
   </td>
   <td>
    1,039
   </td>
   <td>
   </td>
   <td>
    33,230
   </td>
   <td>
    +2
   </td>
   <td>
    12,453
   </td>
   <td>
    26
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="Australia/Oceania" style="display:none;">
    Australia/Oceania
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world row_continent" data-continent="" style="display: none">
   <td>
   </td>
   <td style="text-align:left;">
    <nobr>
    </nobr>
   </td>
   <td>
    721
   </td>
   <td>
   </td>
   <td>
    15
   </td>
   <td>
   </td>
   <td>
    706
   </td>
   <td>
   </td>
   <td>
    0
   </td>
   <td>
    0
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="" style="display:none;">
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr class="total_row_world">
   <td>
   </td>
   <td style="text-align:left;">
    World
   </td>
   <td>
    73,535,996
   </td>
   <td>
    +333,438
   </td>
   <td>
    1,635,351
   </td>
   <td>
    +7,724
   </td>
   <td>
    51,599,044
   </td>
   <td>
    +279,985
   </td>
   <td>
    20,301,601
   </td>
   <td>
    106,426
   </td>
   <td>
    9,434
   </td>
   <td>
    209.8
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td data-continent="all" style="display:none">
    All
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    1
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/us/">
     USA
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    16,993,506
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +50,526
   </td>
   <td style="font-weight: bold; text-align:right;">
    309,046
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +955
   </td>
   <td style="font-weight: bold; text-align:right">
    9,891,163
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +19,248
   </td>
   <td style="text-align:right;font-weight:bold;">
    6,793,297
   </td>
   <td style="font-weight: bold; text-align:right">
    27,877
   </td>
   <td style="font-weight: bold; text-align:right">
    51,203
   </td>
   <td style="font-weight: bold; text-align:right">
    931
   </td>
   <td style="font-weight: bold; text-align:right">
    223,599,230
   </td>
   <td style="font-weight: bold; text-align:right">
    673,722
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/us-population/">
     331,886,264
    </a>
   </td>
   <td data-continent="North America" style="display:none">
    North America
   </td>
   <td>
    20
   </td>
   <td>
    1,074
   </td>
   <td>
    1
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    2
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/india/">
     India
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    9,930,284
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +23,777
   </td>
   <td style="font-weight: bold; text-align:right;">
    144,075
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +329
   </td>
   <td style="font-weight: bold; text-align:right">
    9,451,646
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +29,814
   </td>
   <td style="text-align:right;font-weight:bold;">
    334,563
   </td>
   <td style="font-weight: bold; text-align:right">
    8,944
   </td>
   <td style="font-weight: bold; text-align:right">
    7,164
   </td>
   <td style="font-weight: bold; text-align:right">
    104
   </td>
   <td style="font-weight: bold; text-align:right">
    155,560,655
   </td>
   <td style="font-weight: bold; text-align:right">
    112,224
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/india-population/">
     1,386,160,236
    </a>
   </td>
   <td data-continent="Asia" style="display:none">
    Asia
   </td>
   <td>
    140
   </td>
   <td>
    9,621
   </td>
   <td>
    9
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    3
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/brazil/">
     Brazil
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    6,934,539
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +5,130
   </td>
   <td style="font-weight: bold; text-align:right;">
    181,978
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +33
   </td>
   <td style="font-weight: bold; text-align:right">
    6,016,085
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="text-align:right;font-weight:bold;">
    736,476
   </td>
   <td style="font-weight: bold; text-align:right">
    8,318
   </td>
   <td style="font-weight: bold; text-align:right">
    32,519
   </td>
   <td style="font-weight: bold; text-align:right">
    853
   </td>
   <td style="font-weight: bold; text-align:right">
    25,700,000
   </td>
   <td style="font-weight: bold; text-align:right">
    120,518
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/brazil-population/">
     213,246,552
    </a>
   </td>
   <td data-continent="South America" style="display:none">
    South America
   </td>
   <td>
    31
   </td>
   <td>
    1,172
   </td>
   <td>
    8
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    4
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/russia/">
     Russia
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    2,707,945
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +26,689
   </td>
   <td style="font-weight: bold; text-align:right;">
    47,968
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +577
   </td>
   <td style="font-weight: bold; text-align:right">
    2,149,610
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +24,813
   </td>
   <td style="text-align:right;font-weight:bold;">
    510,367
   </td>
   <td style="font-weight: bold; text-align:right">
    2,300
   </td>
   <td style="font-weight: bold; text-align:right">
    18,552
   </td>
   <td style="font-weight: bold; text-align:right">
    329
   </td>
   <td style="font-weight: bold; text-align:right">
    83,439,508
   </td>
   <td style="font-weight: bold; text-align:right">
    571,648
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/russia-population/">
     145,963,074
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    54
   </td>
   <td>
    3,043
   </td>
   <td>
    2
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    5
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/france/">
     France
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    2,379,915
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right;">
    58,282
   </td>
   <td style="font-weight: bold;
                                    text-align:right;">
   </td>
   <td style="font-weight: bold; text-align:right">
    177,647
   </td>
   <td style="font-weight: bold; text-align:right;">
   </td>
   <td style="text-align:right;font-weight:bold;">
    2,143,986
   </td>
   <td style="font-weight: bold; text-align:right">
    2,906
   </td>
   <td style="font-weight: bold; text-align:right">
    36,424
   </td>
   <td style="font-weight: bold; text-align:right">
    892
   </td>
   <td style="font-weight: bold; text-align:right">
    29,186,274
   </td>
   <td style="font-weight: bold; text-align:right">
    446,687
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/france-population/">
     65,339,460
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    27
   </td>
   <td>
    1,121
   </td>
   <td>
    2
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    6
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/turkey/">
     Turkey
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    1,898,447
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +32,102
   </td>
   <td style="font-weight: bold; text-align:right;">
    16,881
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +235
   </td>
   <td style="font-weight: bold; text-align:right">
    1,661,191
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +29,247
   </td>
   <td style="text-align:right;font-weight:bold;">
    220,375
   </td>
   <td style="font-weight: bold; text-align:right">
    5,988
   </td>
   <td style="font-weight: bold; text-align:right">
    22,400
   </td>
   <td style="font-weight: bold; text-align:right">
    199
   </td>
   <td style="font-weight: bold; text-align:right">
    21,490,195
   </td>
   <td style="font-weight: bold; text-align:right">
    253,570
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/turkey-population/">
     84,750,497
    </a>
   </td>
   <td data-continent="Asia" style="display:none">
    Asia
   </td>
   <td>
    45
   </td>
   <td>
    5,020
   </td>
   <td>
    4
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    7
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/uk/">
     UK
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    1,888,116
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +18,450
   </td>
   <td style="font-weight: bold; text-align:right;">
    64,908
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +506
   </td>
   <td style="font-weight: bold; text-align:right">
    N/A
   </td>
   <td style="font-weight: bold; text-align:right;">
    N/A
   </td>
   <td style="text-align:right;font-weight:bold;">
    N/A
   </td>
   <td style="font-weight: bold; text-align:right">
    1,288
   </td>
   <td style="font-weight: bold; text-align:right">
    27,747
   </td>
   <td style="font-weight: bold; text-align:right">
    954
   </td>
   <td style="font-weight: bold; text-align:right">
    48,488,168
   </td>
   <td style="font-weight: bold; text-align:right">
    712,554
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/uk-population/">
     68,048,434
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    36
   </td>
   <td>
    1,048
   </td>
   <td>
    1
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    8
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/italy/">
     Italy
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    1,870,576
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +14,844
   </td>
   <td style="font-weight: bold; text-align:right;">
    65,857
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +846
   </td>
   <td style="font-weight: bold; text-align:right">
    1,137,416
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">
    +21,799
   </td>
   <td style="text-align:right;font-weight:bold;">
    667,303
   </td>
   <td style="font-weight: bold; text-align:right">
    3,003
   </td>
   <td style="font-weight: bold; text-align:right">
    30,959
   </td>
   <td style="font-weight: bold; text-align:right">
    1,090
   </td>
   <td style="font-weight: bold; text-align:right">
    24,482,190
   </td>
   <td style="font-weight: bold; text-align:right">
    405,193
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/italy-population/">
     60,421,114
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    32
   </td>
   <td>
    917
   </td>
   <td>
    2
   </td>
  </tr>
  <tr style="">
   <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
    9
   </td>
   <td style="font-weight: bold; font-size:15px; text-align:left;">
    <a class="mt_a" href="country/spain/">
     Spain
    </a>
   </td>
   <td style="font-weight: bold; text-align:right">
    1,771,488
   </td>
   <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
    +9,452
   </td>
   <td style="font-weight: bold; text-align:right;">
    48,401
   </td>
   <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">
    +388
   </td>
   <td style="font-weight: bold; text-align:right">
    N/A
   </td>
   <td style="font-weight: bold; text-align:right;">
    N/A
   </td>
   <td style="text-align:right;font-weight:bold;">
    N/A
   </td>
   <td style="font-weight: bold; text-align:right">
    2,027
   </td>
   <td style="font-weight: bold; text-align:right">
    37,882
   </td>
   <td style="font-weight: bold; text-align:right">
    1,035
   </td>
   <td style="font-weight: bold; text-align:right">
    24,918,644
   </td>
   <td style="font-weight: bold; text-align:right">
    532,870
   </td>
   <td style="font-weight: bold; text-align:right">
    <a href="/world-population/spain-population/">
     46,763,059
    </a>
   </td>
   <td data-continent="Europe" style="display:none">
    Europe
   </td>
   <td>
    26

In [43]:
tbl_rows = covid_tbl.find_all("tr")

In [44]:
#To convert in dataframe
res = []
for row in tbl_rows:
    td = row.find_all("td")
    td_clean = [x.get_text() for x in td]
    res.append(td_clean)

In [45]:
res[12]

['4',
 'Russia',
 '2,707,945',
 '+26,689',
 '47,968 ',
 '+577',
 '2,149,610',
 '+24,813',
 '510,367',
 '2,300',
 '18,552',
 '329',
 '83,439,508',
 '571,648',
 '145,963,074 ',
 'Europe',
 '54',
 '3,043',
 '2']

In [46]:
res_df = pd.DataFrame(res)

In [47]:
res_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,,\nNorth America\n,"19,601,515","+62,516","454,937","+1,417","11,872,995","+33,217","7,273,583","32,954",,,,,,North America,\n,,
2,,\nAsia\n,"19,282,767","+103,418","315,111","+1,475","17,485,156","+108,690","1,482,500","27,462",,,,,,Asia,\n,,
3,,\nSouth America\n,"12,019,039","+7,051","341,207",+78,"10,647,748","+1,870","1,030,084","16,539",,,,,,South America,\n,,
4,,\nEurope\n,"20,174,619","+154,394","466,189","+4,641","9,516,681","+127,516","10,191,749","26,771",,,,,,Europe,\n,,

In [48]:
for heading in covid_tbl.find_all("th"):
    print(heading.get_text())

#
Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
NewRecovered
ActiveCases
Serious,Critical
Tot Cases/1M pop
Deaths/1M pop
TotalTests
Tests/
1M pop

Population
Continent
1 Caseevery X ppl
1 Deathevery X ppl
1 Testevery X ppl

In [49]:
res_df.to_csv("chk.csv")

## Regular Expression basics

In [50]:
sample_txt = '''

Mr. John.b.Doe
Designation: Sr Software Engineer
DOB: 20-12-1989
email: johndoe@gmail.com
Mob1: 9123456780
Mob2: 8123456780

Working as a Sr Software Engg with ABC Ltd. Total 5+ yrs of experience in Data science & advanced
analytics

'''

In [51]:
import re

In [54]:
for match in re.finditer("john", sample_txt, re.IGNORECASE):
    print(match)

<re.Match object; span=(6, 10), match='John'>
<re.Match object; span=(74, 78), match='john'>

In [65]:
for match in re.finditer("John", sample_txt):
    print(match)

<re.Match object; span=(6, 10), match='John'>

In [66]:
for match in re.finditer(" John ", sample_txt):
    print(match)

In [58]:
print("\btest")

test

In [59]:
print(r"\btest")

\btest

In [60]:
matches=re.finditer("john",sample_txt,re.IGNORECASE)

In [61]:
for match in matches:
    print(match)

<re.Match object; span=(6, 10), match='John'>
<re.Match object; span=(74, 78), match='john'>

In [62]:
#define simple function for above operation
def quick_pat(pat):
    matches=re.finditer(pat , sample_txt , re.IGNORECASE)
    for match in matches:
        print(match)

In [64]:
quick_pat("john")

<re.Match object; span=(6, 10), match='John'>
<re.Match object; span=(74, 78), match='john'>

In [67]:
# what if we only want to match the name 
# use the word boundary indicator
quick_pat(r"\bjohn\b")

<re.Match object; span=(6, 10), match='John'>

In [68]:
quick_pat(r"\d")

<re.Match object; span=(56, 57), match='2'>
<re.Match object; span=(57, 58), match='0'>
<re.Match object; span=(59, 60), match='1'>
<re.Match object; span=(60, 61), match='2'>
<re.Match object; span=(62, 63), match='1'>
<re.Match object; span=(63, 64), match='9'>
<re.Match object; span=(64, 65), match='8'>
<re.Match object; span=(65, 66), match='9'>
<re.Match object; span=(95, 96), match='1'>
<re.Match object; span=(98, 99), match='9'>
<re.Match object; span=(99, 100), match='1'>
<re.Match object; span=(100, 101), match='2'>
<re.Match object; span=(101, 102), match='3'>
<re.Match object; span=(102, 103), match='4'>
<re.Match object; span=(103, 104), match='5'>
<re.Match object; span=(104, 105), match='6'>
<re.Match object; span=(105, 106), match='7'>
<re.Match object; span=(106, 107), match='8'>
<re.Match object; span=(107, 108), match='0'>
<re.Match object; span=(112, 113), match='2'>
<re.Match object; span=(115, 116), match='8'>
<re.Match object; span=(116, 117), match='1'>
<re.Match object; span=(117, 118), match='2'>
<re.Match object; span=(118, 119), match='3'>
<re.Match object; span=(119, 120), match='4'>
<re.Match object; span=(120, 121), match='5'>
<re.Match object; span=(121, 122), match='6'>
<re.Match object; span=(122, 123), match='7'>
<re.Match object; span=(123, 124), match='8'>
<re.Match object; span=(124, 125), match='0'>
<re.Match object; span=(177, 178), match='5'>

In [69]:
# find mobile no
quick_pat(r"\d{10}")

<re.Match object; span=(98, 108), match='9123456780'>
<re.Match object; span=(115, 125), match='8123456780'>

In [70]:
#or,
quick_pat(r"[0-9]{10}")

<re.Match object; span=(98, 108), match='9123456780'>
<re.Match object; span=(115, 125), match='8123456780'>

In [72]:
# alternatively, using character set
#Find only mobile number starting with 9?
quick_pat(r"[9][0-9]{9}")

<re.Match object; span=(98, 108), match='9123456780'>

In [73]:
sample_txt = '''

abc@gmail.com    Rs.1000
klh_564@gmail.com  Rs.2000
bh.glk@yahoo.co.in Rs.3000
bh.glk@abcltd.in Rs.3000

'''

\w: character or number
* : 0 or more
+ : 1 or more
? : 0 or one

In [74]:
quick_pat(r"\w+@")

<re.Match object; span=(2, 6), match='abc@'>
<re.Match object; span=(27, 35), match='klh_564@'>
<re.Match object; span=(57, 61), match='glk@'>
<re.Match object; span=(84, 88), match='glk@'>

In [75]:
quick_pat(r"[0-9a-zA-Z._]+@")

<re.Match object; span=(2, 6), match='abc@'>
<re.Match object; span=(27, 35), match='klh_564@'>
<re.Match object; span=(54, 61), match='bh.glk@'>
<re.Match object; span=(81, 88), match='bh.glk@'>

In [76]:
quick_pat(r"[0-9a-zA-Z._]+@\w*")

<re.Match object; span=(2, 11), match='abc@gmail'>
<re.Match object; span=(27, 40), match='klh_564@gmail'>
<re.Match object; span=(54, 66), match='bh.glk@yahoo'>
<re.Match object; span=(81, 94), match='bh.glk@abcltd'>

In [77]:
quick_pat(r"[0-9a-zA-Z._]+@\w*\.")

<re.Match object; span=(2, 12), match='abc@gmail.'>
<re.Match object; span=(27, 41), match='klh_564@gmail.'>
<re.Match object; span=(54, 67), match='bh.glk@yahoo.'>
<re.Match object; span=(81, 95), match='bh.glk@abcltd.'>

In [78]:
quick_pat(r"[0-9a-zA-Z._]+@\w*\.com")

<re.Match object; span=(2, 15), match='abc@gmail.com'>
<re.Match object; span=(27, 44), match='klh_564@gmail.com'>

In [79]:
quick_pat(r"[0-9a-zA-Z._]+@\w*\.(com|co.in)")

<re.Match object; span=(2, 15), match='abc@gmail.com'>
<re.Match object; span=(27, 44), match='klh_564@gmail.com'>
<re.Match object; span=(54, 72), match='bh.glk@yahoo.co.in'>

In [80]:
# find all emails
quick_pat(r"\w+@\w+\.(com|co.in)")

<re.Match object; span=(2, 15), match='abc@gmail.com'>
<re.Match object; span=(27, 44), match='klh_564@gmail.com'>
<re.Match object; span=(57, 72), match='glk@yahoo.co.in'>

In [81]:
# find emails (only gmail or yahoo..)
quick_pat(r"[a-zA-Z._0-9]{1,}@(gmail|yahoo)\.(com|co.in)")

<re.Match object; span=(2, 15), match='abc@gmail.com'>
<re.Match object; span=(27, 44), match='klh_564@gmail.com'>
<re.Match object; span=(54, 72), match='bh.glk@yahoo.co.in'>

In [82]:
quick_pat(r"\w{1,}@(gmail|yahoo)\.(com|co.in)")

<re.Match object; span=(2, 15), match='abc@gmail.com'>
<re.Match object; span=(27, 44), match='klh_564@gmail.com'>
<re.Match object; span=(57, 72), match='glk@yahoo.co.in'>

**Find IP address from the text**

In [83]:
#https://datasetsearch.research.google.com/search?query=Server%20logs&docid=e82RkTuD5g%2BSYjjjAAAAAA%3D%3D

In [85]:
with open("access_log_sample.txt","r") as f:
    content = f.readlines()

In [86]:
len(content)

20000

In [87]:
content[0]

'54.36.149.41 - - [22/Jan/2019:03:56:14 +0330] "GET /filter/27|13%20%D9%85%DA%AF%D8%A7%D9%BE%DB%8C%DA%A9%D8%B3%D9%84,27|%DA%A9%D9%85%D8%AA%D8%B1%20%D8%A7%D8%B2%205%20%D9%85%DA%AF%D8%A7%D9%BE%DB%8C%DA%A9%D8%B3%D9%84,p53 HTTP/1.1" 200 30577 "-" "Mozilla/5.0 (compatible; AhrefsBot/6.1; +http://ahrefs.com/robot/)" "-"\n'

In [88]:
sample_txt=content[0]

In [91]:
#To find IP addresss
quick_pat(r"\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}")

<re.Match object; span=(0, 12), match='54.36.149.41'>

In [94]:
#Or , doing the above opeartion using groups
quick_pat(r"(\d{1,3}\.){3}\d{1,3}")

<re.Match object; span=(0, 12), match='54.36.149.41'>

In [ ]:
res_df=pd.DataFrame({'ips':all_ips , 'ts':all_dates})